<foote
  class="text-brand-spark bg-brand-default py-1 px-8 h-auto grid grid-cols-3 gap-4 items-center text-lg text-center"
>
  <div class="flex justify-center">
    <img
      src="sources/Logo_black_transparent.png"
      alt="logo"
      class="object-contain h-64 w-64"
    />
  </div>
  <div>
    <p>Socials</p>
    <div class="text-black text-left px-10 grid">
      <a href="https://www.instagram.com/vojtech_drozd">Instagram</a>
      <a href="https://github.com/Kolecko2004">GitHub</a>
      <a href="https://www.facebook.com/vojta.drozd.1/">Facebook</a>
      <a href="https://www.linkedin.com/in/vojt%C4%9Bch-drozd-3918bb28b/">LinkedIn</a>
    </div>
  </div>
  <div>
    <p>Career</p>
    <div class="text-black text-left px-10 grid">
      <a href="">Schools</a>
      <a href="">Work</a>
      <a href="">Internships</a>
      <a href="">Hobbies</a>
    </div>
  </div>
</foote>
