<hero class="grid grid-cols-3 gap-4">
  <div
    class="rounded-xl bg-brand-default flex justify-around items-center col-span-3"
  >
    <div class="py-8 grid gap-4">
      <p class="text-brand-dark text-4xl font-bold col-span-2">
        Products
      </p>
      <p class="text-brand-spark text-clip">
        Bring your ideas to life with tools designed<br />
        for speed, clarity, and creativity.
      </p>
    </div>
    <img
      src="sources/Logo_black_transparent.png"
      alt="logo"
      class="object-contain h-64 w-64"
    />
  </div>
  <div class="p-4 rounded-xl bg-brand-default flex justify-around items-center">
    <div class="py-8 grid gap-4">
      <p class="text-brand-dark text-4xl font-bold col-span-2">
        Services
      </p>
      <p class="text-brand-spark text-clip">
        Bring your ideas to life with tools designed<br />
        for speed, clarity, and creativity.
      </p>
    </div>
  </div>
  <div class="p-4 rounded-xl bg-brand-default flex justify-around items-center">
    <div class="py-8 grid gap-4">
      <p class="text-brand-dark text-4xl font-bold col-span-2">
        collaboration
      </p>
      <p class="text-brand-spark text-clip">
        Bring your ideas to life with tools designed<br />
        for speed, clarity, and creativity.
      </p>
    </div>
  </div>
  <div class="p-4 rounded-xl bg-brand-default flex justify-around items-center">
    <div class="py-8 grid gap-4">
      <p class="text-brand-dark text-4xl font-bold col-span-2">
        Build Something Extraordinary
      </p>
      <p class="text-brand-spark text-clip">
        Bring your ideas to life with tools designed<br />
        for speed, clarity, and creativity.
      </p>
    </div>
  </div>
</hero>
