<foote
  class="text-brand-spark bg-brand-default py-1 px-8 h-auto grid grid-cols-3 gap-4 items-center text-lg text-center"
>
  <div class="flex justify-center">
    <img
      src="../../sources/Logo_black_transparent.png"
      alt="logo"
      class="object-contain h-64 w-64"
    />
  </div>
  <div>
    <p>Socials</p>
    <div class="text-black text-left px-10">
      <p>Instagram</p>
      <p>GitHub</p>
      <p>Facebook</p>
      <p>LinkedIn</p>
    </div>
  </div>
  <div>
    <p>Career</p>
    <div class="text-black text-left px-10">
      <p>Schools</p>
      <p>Work</p>
      <p>Internships</p>
      <p>Hobbies</p>
    </div>
  </div>
</foote>
