<header
  class="text-brand-spark bg-brand-default py-1 px-8 h-auto flex justify-between items-center text-lg"
>
  <img
    src="../../sources/Logo_black_transparent.png"
    alt="logo"
    class="object-contain h-16 w-16"
  />

  <div class="flex gap-6">
    <button
      class="group relative px-3 py-1 rounded-lg border-2 font-semibold border-brand-dark hover:border-brand-spark text-brand-spark overflow-hidden"
    >
      <span
        class="relative z-10 transition-colors duration-500 group-hover:text-brand-default"
      >
        Products
      </span>

      <span
        class="absolute bottom-0 left-0 w-full h-0 bg-brand-spark transition-all duration-500 group-hover:h-full"
      ></span>
    </button>

    <button
      class="group relative px-3 py-1 rounded-lg border-2 font-semibold border-brand-dark hover:border-brand-spark text-brand-spark overflow-hidden"
    >
      <span
        class="relative z-10 transition-colors duration-500 group-hover:text-brand-dark"
      >
        Services
      </span>

      <span
        class="absolute bottom-0 left-0 w-full h-0 bg-brand-spark transition-all duration-500 group-hover:h-full"
      ></span>
    </button>
    <button
      class="group relative px-3 py-1 rounded-lg border-2 font-semibold border-brand-dark hover:border-brand-spark text-brand-spark overflow-hidden"
    >
      <span
        class="relative z-10 transition-colors duration-500 group-hover:text-brand-dark"
      >
        About me
      </span>

      <span
        class="absolute bottom-0 left-0 w-full h-0 bg-brand-spark transition-all duration-500 group-hover:h-full"
      ></span>
    </button>
  </div>

  <button
    class="group relative px-3 py-1 rounded-lg border-2 font-semibold border-brand-dark hover:border-brand-spark text-brand-spark overflow-hidden"
  >
    <span
      class="relative z-10 transition-colors duration-500 group-hover:text-brand-dark"
    >
      Email
    </span>

    <span
      class="absolute bottom-0 left-0 w-full h-0 bg-brand-spark transition-all duration-500 group-hover:h-full"
    ></span>
  </button>
</header>

<script>
  document.querySelectorAll(".button-container").forEach((container) => {
    fetch("components/main_button.html")
      .then((res) => res.text())
      .then((html) => {
        container.innerHTML = html;

        const btn = container.querySelector("button");

        const label = container.dataset.button ?? container.textContent.trim();
        if (label) btn.textContent = label;

        btn.addEventListener("click", () => {
          console.log("Clicked:", label);
        });
      });
  });
</script>
